<% content_for :header, 'Edit your account on the QLAQ forums.' %>

<%= form_for :user, :url => user_path(@user.id), :method => 'put' do |f| -%>

  <%= render '/refinery/admin/error_messages', :object => @user, :include_object_name => true %>

  <div class='field'>
    <%= f.label :username %>
    <%= f.text_field :username, :class => 'larger widest' %>
  </div>
  <div class='field'>
    <%= f.label :email %>
    <%= f.text_field :email, :class => 'larger widest' %>
  </div>
  <div class='field'>
    <%= f.label :password %>
    <%= f.password_field :password, :class => 'larger widest' %>
  </div>
  <div class='field'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => 'larger widest' %>
  </div>
  <div class='field'>
    <%= f.label :show_age %>
    <%= f.check_box :show_age, :class => 'larger widest' %>
  </div>


  <%= render '/refinery/admin/form_actions', :f => f,
             :submit_continue => false,
             :submit_button_text => 'Save',
             :hide_delete => true,
             :hide_cancel => true %>
<% end -%>