<%
  # Collect the root items.
  # ::Refinery::Menu is smart enough to remember all of the items in the original collection.
  if (roots = local_assigns[:roots] || (collection ||= refinery_menu_pages).roots).present?
    dom_id ||= 'menu'
    css = [(css || 'menu clearfix')].flatten.join(' ')
    hide_children = Refinery::Core.menu_hide_children if hide_children.nil?
-%>
<nav id='<%= dom_id %>' class='<%= css %>'>
  <ul>
    <%= render :partial => '/refinery/menu_branch', :collection => roots,
               :locals => {
                 :hide_children => hide_children,
                 :sibling_count => (roots.length - 1),
                 :menu_levels => local_assigns[:menu_levels],
                 :apply_css => false #if you don't care about class='first' class='last' or class='selected' set apply_css to false for speed.
               } -%>
    <% if current_refinery_user %>
      <% if current_refinery_user.forem_admin %>
        <!--<li><%= link_to "Admin", forem.admin_root_url %></li>-->
      <% end %>
      <li class="user_first"><%= link_to "Profile", main_app.user_path(current_refinery_user) %></li>
      <li><%= link_to "Log out", refinery.destroy_refinery_user_session_path %></li>
    <% else %>
      <li class="user_first"><%= link_to "Sign up", main_app.new_user_path %></li>
      <li><%= link_to "Log in", refinery.new_refinery_user_session_path %></li>
    <% end %>
  </ul>
</nav>
<% end -%>
